/* 
#f3f7f8
#bdc3c7
#21c2f8
#2c3e50
#202020 
*/

body {
  background-color: #f3f7f8;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.aboutMe {
  font-family: fantasy;
}
.contact {
  font-family: fantasy;
}

.link a:hover {
  color: #f1f1f1;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  /* color: #21c2f8; */
  color: #2c3e50;

  display: block;
}

.sidenav a:hover {
  /* color: #2c3e50; */
  color: #21c2f8;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
